@import "tailwindcss";
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fbf1c7; /* Gruvbox Light bg0 */
  --foreground: #3c3836; /* Gruvbox Light fg1 */
  --accent: #b57614; /* Gruvbox Light yellow */
  --muted: #ebdbb2; /* Gruvbox Light bg1 */
  --border: #d5c4a1; /* Gruvbox Light bg2 */
}

html[data-theme="dark"] {
  --background: #1d2021; /* Gruvbox Dark bg0_hard */
  --foreground: #ebdbb2; /* Gruvbox Dark fg1 */
  --accent: #fabd2f; /* Gruvbox Dark yellow */
  --muted: #3c3835; /* Gruvbox Dark bg1 */
  --border: #504945; /* Gruvbox Dark bg2 */
}

@theme inline {
  --font-app: var(--font-google-sans-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

@utility app-layout {
  @apply mx-auto w-full max-w-app px-4;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}
